<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  
  <title>Movie App</title>
</head>
<body>
  <div class="body-container">
    <div class="post-container">
      <div class="header">
        <h1><b>MOVIE FORTUNE</b></h1>
      </div>
      <div class="movies-container">
        <ul class="movie-list" id="movieList">
          {% for title in titles %}
            <li tabindex="1" onclick="insertMovie('{{ title }}')">{{ title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="search-container">
        <input type="text" placeholder="search..." onkeyup="filterMovies()" name="searchbar" id="searchbar" class="searchbar" autocomplete="off">
        <p id="movieLabel">-</p>
      </div>
      <form method="POST">
        <input type="hidden" id="movieInput" name="movie">
        <div class="rating-container">
          <input type="button" name="decrease" class="value-btn" value="-" onclick="ratingMinus()"> 
          <input type="text" name="rating" id="rating" class="ratingbar" value="0" readonly="readonly">
          <input type="button" name="increase" class="value-btn" value="+" onclick="ratingPlus()">     
        </div>  
        <input type="submit" class="submit-btn">
      </form>      
    </div>
    <div class="result-container">
      <div class="result-text">
      {% if movies %}
      {% for movie in movies %}
      <div class="input-item">
        <h2>{{ movie[0] }}, {{ movie[1] }}</h2><a href="/delete/{{ movie[2] }}"><b>X</b></a>
      </div>
      {% endfor %}
    {% else %}  
      <h2>Please input a movie.</h2>
    {% endif %}
    {% if suggestions %}
      {% for suggestion in suggestions %}
      <div class="result-item">
        <h2>{{ suggestion[1] }} | {{ suggestion[2] }}% Match</h2>      
      </div>
      {% endfor %}
    {% else %}
      <h2>No suggestions yet.</h2>
    {% endif %}      
      </div>
    </div>
  </form>
 </div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>